.app-container {
  text-align: center;
  position: relative; /* Ensure that children are positioned relative to this container */
}

.title {
  position: relative; /* Ensures that it’s above other elements */
 /* Higher value to ensure it appears above particles */
  color: white; /* Or any color that contrasts with your background */
  margin-top: 20px; /* Adjust as needed */
}

.particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}