/* App.css */

.app-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;    /* Center horizontally */
  justify-content: center;/* Center vertically */
  height: 100vh;          /* Full viewport height */
  text-align: center;
  position: relative;
}

.title {
  padding-top: 10px;
  position: relative;
  color: white;
  margin-bottom: 20px; /* Space between title and webcam */
}

.particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}
